
:root {
  --background-color-dark: #141414;
  --background-color-light: #30acf6;
  --main-bg-color: #ffffff;
  --primary-color: #e50914;
  --secondary-color: #1ce783;
  --tertiary-color: #08529b;
  --font-color: #333;
  --button-bg-color: var(--secondary-color);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Karla', sans-serif;
  overflow: hidden; 
  position: relative;
}

main {
  background-color: var(--main-bg-color);
  border-radius: 10px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  flex-direction: column;
  position: relative;
}

main:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.title {
  font-size: 2.5rem;
  margin: 0;
  color: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
  color: var(--background-color-dark);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.roll-counter, .win-note {
  font-size: 1.5rem;
  margin: 20px 0;
  text-align: center;
}

.roll-counter {
  color: var(--primary-color);
}

.win-note {
  color: var(--tertiary-color);
}

.dice-and-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  margin-left: 110px;
  margin-bottom: 40px;
}

.dice-container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  gap: 10px;
}

.die-face {
  height: 60px;
  width: 60px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.die-face:hover {
  transform: scale(1.1);
}

.die-num {
  font-size: 2rem;
  color: var(--font-color);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  height: 50px;
  width: 130px;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.button:hover {
  background-color: #15b66d;
  transform: translateY(-2px);
}

.button:focus {
  outline: none;
}

.button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.button.win {
  background-color: var(--background-color-light);
}

.confetti-container {
  position: absolute;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  /* z-index: -1;  */
}

.side-image {
  max-width: 150px;
  height: auto;
  margin-left: 20px;
}

.side-image:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    padding: 60px;
  }

  .side-image {
    max-width: 100px;
  }

  .buttons-container {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .instructions {
    max-width: 600px;
  }

}

@media (max-width: 767px) {
  .dice-container {
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
    gap: 10px;
  }

  .die-face {
    height: 50px;
    width: 50px;
  }

  .die-num {
    font-size: 1.5rem;
  }

  .buttons-container {
    flex-direction: column;
    gap: 10px;
  }

  .side-image {
    max-width: 120px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .dice-container {
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    gap: 5px;
  }

  .die-face {
    height: 40px;
    width: 40px;
  }

  .die-num {
    font-size: 1.2rem;
  }

  .dice-and-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    margin-left: 110px;
    margin-bottom: 40px;
  }

  .side-image {
    max-width: 100px;
    margin-top: 20px;
    margin-left: 10;
  }
}

